/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;*/
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #333333;
    font-family: Roboto;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;   
}
/*----------Header------------------------*/
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;    
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A1BFD4;
    z-index: 2;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header_container {
    position: relative;
    display: flex;
    min-height: 74px;    
    justify-content: space-between;    
}    
.header__logo {
    position: relative;
    z-index: 3;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 22px;
    color: #1C1C1C;
    padding: 17px 0px 34px 0px;
} 
.header__menu {
}
.menu {
}
.menu__list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;    
}
.menu__item {   
    font-size: 15px;
    line-height: 146%;    
    padding: 26px 17px 25px 17px;
}
.menu__link {
    color: #222222;
}
.header__logo:hover,.menu__link:hover{
    color: #fff;
}
@media (max-width:767px){
    body.lock{
        overflow: hidden;
    }
    .header_container{
        min-height: 55px;
    }
    .header__logo{
        padding: 17px 0px 0px 0px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin: 17px 0;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        background-color: #4DBD90;
        padding: 70px 10px 20px 10px;
        overflow: auto;
    }
    .header__menu.active{
        top: 0;
    }
    .menu__list{
        display: block;
    }
    .menu__list li{
        margin: 0px 0px 0px 0px;
    }
    .menu__item{
        padding: 10px 0px 15px 10px;
    }
    .menu__link{
        font-size: 24px;
    }
}
/*----------Page------------------------*/
.page{
    flex: 1 1 auto;
}
.page__main-block {
}
.page__companies{
}
.page__application{
}
.page_plans{
}
.page__review {
}
.page__companies2 {
}
/*----------Main-block------------------------*/
.main-block {    
    position: relative;
}
.main-block__container {
    display: flex;
    justify-content: space-between;
}
.main_block__body {
    padding: 144px 0px 101px 10px;
    max-width: 409px;
    position: relative;
    z-index: 2;
}
.main_block__body > *:not(:last-child){
    margin: 0px 0px 23px 0px;
}
.main-block__title {
font-size: 38px;
line-height: 115.77%;
color: #FFFFFF;

}
.main-block__text {
font-size: 20px;
line-height: 130%;
color: #FFFFFF;
}
.main-block__buttons {
    display: inline-flex;    
}
.main-block__button{
    padding: 5px 22px;
    min-height: 48px;
    font-size: 16px;
    text-align: center;
    line-height: 137%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-block__button:not(:last-child){
    margin: 0px 10px 0px 0px;
}
.main-block__button_black{
    background: black;
    border-radius: 3px;      
    color: white;
    min-width: 107px;
}
.main-block__button_black:hover{
    background: #fff;
    color: #1C1C1C;
}
.main-block__button_black:active{
    position: relative;
    top: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.main-block__button_nb{        
    color: black;
    max-width: 107px;
    padding: 5px 12px;
}
.main-block__button_nb:hover{
    border: 1px solid black;
    border-radius: 3px;
    color: #fff;
}
.main-block__button_nb:active{
    position: relative;
    top: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.main-block__graph {
    z-index: 2;
    position: relative;
    padding: 141px 10px 69px 0px;
    max-width: 450px;
}
.main-block__graph img{
    max-width: 100%;
}
.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 890px){
    .main_block__body {
        max-width: 370px;        
    }
    .main-block__title {
        font-size: 34px;        
    }
    .main-block__text {
        font-size: 18px;   
    }    
}
@media (max-width: 767px){
    .main-block__container{
        flex-wrap: wrap;        
    }
    .main_block__body {
        margin: 0 auto;
        padding: 30px 0px 40px 10px;
        max-width: 550px;        
    }
    .main-block__graph { 
        order: -1;   
        margin: 0 auto;    
        padding: 100px 10px 30px 0px;
        max-width: 550px;
    }
    .main-block__image img{
        object-position: right;
    }    
}
@media (max-width: 380px){
    .main-block__title {
        font-size: 28px;        
    }
}
/*----------Companies-block------------------------*/
.companies__block{
    background: #3E5C50;
}
.companies__block_container {
    min-height: 145px;
    display: flex;
    flex-direction: column;
}
.companies__block_text {
    padding: 29px 0px 0px 0px;
    text-align: center;
}
.companies__block_text p{
    font-size: 15px;
    line-height: 146%;
    text-align: center;
    color: rgba(255, 255, 255, 0.31);
}
.companies__block_img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.companies__block_img img:not(:last-child){
    margin: 0px 10px 0px 0px;
}
@media (max-width: 767px){
    .companies__block_img{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media (max-width: 685px){
    .companies__block_container{
        justify-content: space-around;
    }
    .companies__block_text {
        padding: 10px 0px 0px 0px;
        text-align: center;
    }    
}
@media (max-width: 450px){      
    .companies__block_img img{
        width: 30%;
    }
}
/*----------section app------------------------*/
.application__block {
}
.application__block_container {
    display: flex;
    flex-direction: column;
    padding: 70px 0px 70px 0px;
}
.application__block_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.application__block_text_title {
    font-size: 29px;
    line-height: 124%;
}
.application__block_text_subtitle {
    margin-top: 10px;
    font-size: 19px;
    line-height: 116%;
}
.application__block_preset {    
    padding-top: 69px;
}
.preset__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preset__block_img {
    flex: 0 1 50%;
    max-width: 460px;
}
.preset__block_body{
    flex: 0 1 50%;
    max-width: 460px;    
}
.preset__block_card{
    padding: 30px 10px 0px 10px
}
.preset__block_icon {
}
.preset__block_title {
    padding: 11px 0px 17px 0px;
    font-size: 22px;
    line-height: 136%;
}
.preset__block_title a{
    color: black;    
}
.preset__block_title a:hover{
    text-decoration: underline;
}
.preset__block_subtitle {
    max-width: 389px;
    font-size: 16px;
    line-height: 137.5%;
}
.application__block_benefits {
}
.benefits__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.benefits__container {
    max-width: 220px;
}
.benefits__container{
    padding: 0px 10px 0px 10px;
}
.benefits__container .preset__block_card{
    padding: 0;
    max-width: 220px;    
}
.benefits__container .preset__block_card .preset__block_title {
    font-size: 21px;
    line-height: 142%;
}
.benefits__container .preset__block_card .preset__block_subtitle{
    font-size: 15px;
    line-height: 146%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.benefits__container .preset__block_card .preset__block_icon img{
    max-height: 30px;
}
@media (max-width: 919px){
    .preset__block_img img{
        max-width: 100%;       
    }
}
@media (max-width: 767px){
    .application__block_container {        
        padding: 40px 0px 40px 0px;
    }   
    .preset__block{
        padding-top: 30px;
        flex-direction: column;
    }
    .preset__block_img{
        padding-top: 40px;       
        margin: 0 auto;        
    }
    .preset__block_body{        
        margin: 0 auto;
    }
    .order{
        order: -1;
    }
}
@media (max-width: 685px){
    .benefits__body{
        flex-wrap: wrap;
    }
    .benefits__container{
        max-width: 50%;
        margin: 0 auto;
    }
}
@media (max-width: 685px){
    .preset__block_img {
        max-width: 90%; 
        margin: 0 auto;      
    }
}
@media (max-width: 420px){
    .benefits__body{
        padding: 40px 0px 0px 0px;
    }
    .benefits__container .preset__block_card{
        padding: 20px 0px 20px 0px;
    }
    .benefits__container .preset__block_card .preset__block_title {
        font-size: 18px;        
    }
    .benefits__container .preset__block_card .preset__block_subtitle{
        font-size: 12px;        
    }
}
/*----------Plans block------------------------*/
.plans__block {
    background: #DDE7ED;
}
.plans__block_container {
    
}
.plans__block_container_body {
    padding: 70px 0px;
}
.plans__container_text {
    display: flex;
    flex-direction: column;    
    text-align: center;
}
.plans__title {
    font-size: 29px;
    line-height: 124%;
    padding: 0px 0px 10px 0px;
}
.plans__subtitle {
    font-size: 19px;
    line-height: 116%;
}
.plans__container_cards {
    margin-top: 70px;    
}
.card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__item_body {
    max-width: 220px;
    max-height: 368px;
    padding: 0px 5px;
    background: #fff;
    border-radius: 3px;       
}
.card__item_body_container{
    padding: 16px 17px 17px 17px;
    display: flex;
    flex-direction: column;
}
.card__item_title {
    font-size: 22px;
    line-height: 136%;
}
.title__card {
}
.card__item_text {
    padding: 10px 0px;    
}
.text__blue {
    display: inline-block;    
    font-size: 19px;
    line-height: 115%;
    color: #489FD9;
    padding: 5px 0px 5px 0px;
}
.text__blue:hover{
    text-decoration: underline;
}
.text_black {
    display: inline-block;
    font-size: 14px;
    line-height: 157%;
    padding: 5px 0px;
    margin-left: -3px;
    color: black;
}
.text_black:hover{
    text-decoration: underline;
}
.card__item_line {
    max-height: 2px;
}
.card__item_text2 {
    padding: 7px 0px 12px 0px;
}
.text_grey {
    color: #C7C5C5;
    font-size: 14px;
    line-height: 128.5%;
    padding: 7px 0px;
}
.card__item_button_plan{
    padding: 10px 44px;
    min-height: 42px;
    min-width: 186px;
    font-size: 16px;
    text-align: center;
    line-height: 137%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 3px;
    align-self: center;
    color: #fff;
}
.card__item_button_plan:hover{
    background: #489FD9;    
}
.card__item_button_plan:active{
    position: relative;
    top: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.plans__container_ps{
    text-align: center;
    padding-top: 20px;
}
.plans__container_text{
    display: block;           
    font-size: 16px;
    line-height: 137.5%;
}
.plans__container_btn{
    color: #489FD9;
    font-size: 14px;
}
.plans__container_btn:hover{
    text-decoration: underline;
}
@media (max-width: 920px){
    .card__item{
        flex-wrap: wrap;
    }
    .card__item_body{
        margin-bottom: 50px;       
    }
}
@media (max-width: 690px){
    .plans__block_container_body {
        padding: 0;
    }
}
@media (max-width: 472px){
    .card__item_body{
        margin: 0 auto 30px auto;
    }
}
/*----------review_block------------------------*/
.review_block {
}
.review__block_container {    
}
.review__body {
    margin: 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review__body_title {
    font-size: 29px;
    line-height: 124%;
    text-align: center;
}
.review__body_subtitle {
    max-width: 752px;
    margin: 45px 0px 22px 0px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 124%;
    text-align: center;
}
.review__body_kyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kyle_photo {
    padding-bottom: 12px;
}
.kyle_name {
    font-size: 16px;
    line-height: 137.5%;
    text-align: center;
}
.review__body_kyle:nth-child(3){
    font-size: 15px;
    line-height: 146%;
    text-align: center;
}
@media (max-width: 660px){
    .review__body_subtitle{
        font-size: 18px;
    }
}
/*----------companies__block2------------------------*/
.companies__block2 {
    background: #A1BFD4;
}
.companies__block2_container {
    padding: 0;
}
.companies2__block_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 940px){
    .companies2__block_img{          
        flex-wrap: wrap;      
    }
    .companies2__block_img img{
        max-height: 120px;
    }
}
@media (max-width: 360px){
    .companies2__block_img img{
        max-width: 106px;
    }
}
/*----------Footer------------------------*/
.footer {
}
.footer__block {
    background: #2B2C2E;
}
.footer__block_container {    
}
.footer__block_body {
    padding: 42px 0px;
    display: flex;
    justify-content: space-between;
}
.social__block {
    display: flex;
    flex-direction: column;
    max-width: 460px;    
}
.social__block_logo {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 81%;   
    color: #E6EAED; 
}
.social__block_text {
    padding: 25px 0px 0px 0px;   
    font-size: 15px;
    line-height: 146%;   
    color: #939596;
}
.social__block_img {
    padding-top: 12px;
    display: flex;
    max-width: 320px;
}
.social__block_img img{
    display: block;
}
.social__block_icons{
    padding-top: 25px;
}
.social__block_icons a:not(:last-child) {
    padding: 0px 10px 0px 0px;
}
.info__block {
    display: flex;
    max-width: 460px;
    padding-left: 5px;
}
.info__block_comp {
    min-width: 150px;
}
.info__block_title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 141%; 
    text-transform: uppercase;
    color: #E4E8EB;
}
.info__block_subtitle a{
    padding-top: 10px;
    font-size: 15px;
    line-height: 146%;
    color: #939596;
}
.info__block_subtitle a:hover{
    text-decoration: underline;
}
.info__block_prod {
    min-width: 150px;
}
.info__block_legal {
    min-width: 150px;
}
.footer__aside {
    background: #1C1D1F;
    min-height: 60px;
}
.footer__aside_container {
}
.footer__aside_text {  
    padding: 19px 0px;  
    font-size: 13px;
    line-height: 169%;
    color: #939596;
}
@media (max-width: 820px){
    .footer__block_body{
        flex-wrap: wrap;
    }
    .social__block{
        max-width: 940px;
        margin: 0 auto;
    }
    .info__block{
        margin: 0 auto;
        padding: 40px 0px 0px 0px;
        flex-wrap: wrap;
    }
}
/******************spoilers************************/
@media (max-width: 767px){ 
    .social__block{        
        margin: 0px auto 0px 130px
    }   
    .info__block {
        max-width: 940px;
    }
    .info__block_comp {
    }
    .info__block_title{
        position: relative;
        padding: 0px 0px 0px 20px;
        cursor: pointer;
    }
    .info__block_title::before,
    .info__block_title::after {
        content: '';
        width: 10px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 10px;   
        transition: all 0.3s ease 0s;     
    }
    .info__block_title::before{
        transform: rotate(40deg);
        left: 0;
    }
    .info__block_title::after{
        transform: rotate(-40deg);
        left: 8px;
    }
    .info__block_title.spoiler::before,
    .info__block_title.spoiler::after{
        background-color: red;
    }
    .info__block_title.spoiler::before{
        transform: rotate(-40deg);
    }
    .info__block_title.spoiler::after{
        transform: rotate(40deg);
    }
    .info__block_subtitle {
        padding-left: 20px;
        display: none;
    }    
}
/******************************************/
@media (max-width: 650px){
    .social__block{
        margin: 0 auto;        
    }
}
@media (max-width: 480px){
    .info__block_comp,.info__block_prod,.info__block_legal{
        min-width: 120px;
    }
}
@media (max-width: 390px){
    .footer__block_container{
        padding: 0 10px;
    }
    .info__block_comp,.info__block_prod,.info__block_legal{
        min-width: 100px;
    }
    .info__block_title {        
        font-size: 15px;
        line-height: 141%;         
    }
    .info__block_subtitle {        
        font-size: 12px;
        line-height: 146%;
        
    }
}
@media (max-width: 350px){
    .social__block{
        margin: 0;        
    }
    .social__block_img img{
        margin-left: -8px;
    }    
    
}
